#:schema https://starship.rs/config-schema.json

add_newline = false

[cmd_duration]
format = "[$duration]($style) "
style = "bold dimmed white"

[git_branch]
format = "[$branch(:$remote_branch)]($style) "

[git_status]
format = "([$all_status$ahead_behind]($style) )"

[c]
disabled = true

[container]
disabled = true

[haskell]
disabled = true

[hostname]
disabled = true

[java]
disabled = true

[line_break]
disabled = true

[lua]
disabled = true

[ocaml]
disabled = true

[package]
disabled = true

[python]
disabled = true

[rust]
disabled = true

[scala]
disabled = true

[typst]
disabled = true

[username]
disabled = true

[zig]
disabled = true
