#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Scott Stevenson"
email = "scott@stevenson.io"

[ui]
default-command = "log"
diff-formatter = ["difft", "--color=always", "$left", "$right"]

[aliases]
forge = ["util", "exec", "--", "jj-forge"]
get = ["util", "exec", "--", "jj-get"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[templates]
draft_commit_description = '''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''
git_push_bookmark = '"srs/push-" ++ change_id.short()'
