[language-server.typos]
command = "typos-lsp"

[[language]]
name = "bash"
auto-format = true
formatter = { command = "shfmt", args = ["--case-indent", "--indent=2", "-"] }

[[language]]
name = "css"
auto-format = true
formatter = { command = "prettier", args = ["--parser=css"] }

[[language]]
name = "jjdescription"
language-servers = ["typos"]

[[language]]
name = "json"
auto-format = true
formatter = { command = "jq", args = ["."] }

[[language]]
name = "markdown"
auto-format = true
formatter = { command = "prettier", args = [
  "--parser=markdown",
  "--prose-wrap=always",
] }
language-servers = ["typos"]

[[language]]
name = "python"
auto-format = true
language-servers = ["ruff", "basedpyright", "typos"]

[[language]]
name = "rust"
auto-format = true
language-servers = ["rust-analyzer", "typos"]

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }
language-servers = ["taplo", "typos"]

[[language]]
name = "typst"
auto-format = true
formatter = { command = "typstyle" }

[[language]]
name = "xit"
language-servers = ["typos"]

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "prettier", args = ["--parser=yaml"] }
language-servers = ["typos"]
