keybinds {
    unbind "Ctrl n" "Ctrl o" "Ctrl p" "Ctrl q"
}

// Toggle between having pane frames around the panes.
pane_frames false

// Whether sessions should be serialised to the cache folder
// (including their tabs/panes, cwds and running commands) so that
// they can later be resurrected.
session_serialization false

// Choose the theme that is specified in the themes section.
theme "moderandi"

// The name of the default layout to load on startup.
default_layout "compact"
