themes {
    dorrow {
        bg "#303030"
        fg "#d0d0d0"
        black "#202020"
        white "#d0d0d0"

        red "#cc6666"
        green "#b5bd68"
        blue "#81a2be"
        yellow "#f0c674"
        magenta "#b294bb"
        orange "#de935f"
        cyan "#8abeb7"
    }
}

